<script src="https://kit.fontawesome.com/95a02bd20d.js"></script>

<main class="container__main">
   <h3 class="text-center">Web Developers</h3>

   <div class="container__cont">
      <span><p class="text-center">texto introductorio sobre las actividades que se realizan [Diseño web, Back-End, Front-End, Angular, PHP, JS, etc].</p></span>
      <div class="container__first">
         <article class="article"></article>
         <article class="article"></article>
         <article class="article"></article>
      </div>
   </div>
   <h3 class="text-center">Revisa nuestros prediseños</h3>
   <div class="container">
      <article class="article">
         <div class="proyecto proyecto1">
            <div class="proyecto__contenido">
               <i class="fab fa-windows"></i>            
               <h3>Proyecto 1</h3>
            </div>
         </div>
         <div class="proyecto proyecto2">
            <div class="proyecto__contenido">
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
               <a href="#" type="button">Leer Más</a>
            </div>
         </div>
      </article>
    
      <article class="article">
         <div class="proyecto proyecto1">
            <div class="proyecto__contenido">
               <i class="fab fa-android"></i>
               <h3>Proyecto 2</h3>
            </div>
         </div>
         <div class="proyecto proyecto2">
            <div class="proyecto__contenido">
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
               <a href="#" type="button">Leer Más</a>
            </div>
         </div>
      </article>
    
      <article class="article">
         <div class="proyecto proyecto1">
            <div class="proyecto__contenido">
               <i class="fab fa-apple"></i>
               <h3>Proyecto 3</h3>
            </div>
         </div>
         <div class="proyecto proyecto2">
            <div class="proyecto__contenido">
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
               <a href="#" type="button">Leer Más</a>
            </div>
         </div>
      </article>
    
   </div>
   <h3 class="text-center">Entra en contacto con nosotros para la creación de tu pagina web desde 0</h3>
</main>
