<script src="https://kit.fontawesome.com/95a02bd20d.js"></script>

  <div class="container">
     <article class="article">
       <div class="proyecto proyecto1">
         <div class="proyecto__contenido">
            <i class="fab fa-windows"></i>            
            <h3>Proyecto 1</h3>
         </div>
       </div>
       <div class="proyecto proyecto2">
         <div class="proyecto__contenido">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
            <a href="#" type="button">Read More</a>
         </div>
       </div>
    </article>
    
    <article class="article">
       <div class="proyecto proyecto1">
          <div class="proyecto__contenido">
            <i class="fab fa-android"></i>
            <h3>Proyecto 2</h3>
         </div>
       </div>
       <div class="proyecto proyecto2">
         <div class="proyecto__contenido">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
            <a href="#" type="button">Read More</a>
         </div>
       </div>
    </article>
    
    
    <article class="article">
       <div class="proyecto proyecto1">
         <div class="proyecto__contenido">
            <i class="fab fa-apple"></i>
            <h3>Proyecto 3</h3>
         </div>
       </div>
       <div class="proyecto proyecto2">
         <div class="proyecto__contenido">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
            <a href="#" type="button">Read More</a>
         </div>
       </div>
    </article>
    
    
    
    
    
    
  </div>
