<div class="container__main">
  <div class="contenido__principal">
    <main class="empresa">
      <h3 class="text-center">Nombre de la empresa</h3>

      <div class="articles">
        <article class="proyecto">
          <a routerLink="/proyectos">
            <img src="../img/GC.webp" alt="proyecto 1">
            <p class="proyecto--nombre">Nombre del proyecto</p>
          </a>
        </article>
        <article class="proyecto">
          <a routerLink="/proyectos">
            <img src="../img/GC.webp" alt="proyecto 2">
            <p class="proyecto--nombre">Nombre del proyecto</p>
          </a>
        </article>
        <article class="proyecto">
          <a routerLink="/proyectos">
            <img src="../img/GC.webp" alt="proyecto 3">
            <p class="proyecto--nombre">Nombre del proyecto</p>
          </a>
        </article>
        <article class="proyecto">
          <a routerLink="/proyectos">
            <img src="../img/GC.webp" alt="proyecto 4">
            <p class="proyecto--nombre">Nombre del proyecto</p>
          </a>
        </article>
      </div>
    </main>
    

  </div>

</div>
