.contactanos{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-self: center;
}
.contactanos textarea{
    margin-top: 2rem;
}
footer form{
    display: grid;
}
.form {
    width: 100%;
    height: auto;
    background-color: var(--negro);
    margin-bottom: 20px;
}
.form h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.form input, .form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.form input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--gris);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}