<footer>
    <form>
        <fieldset class="contactanos" >
            <legend>Formulario Contacto</legend>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Correo electrónico">
            <textarea name="mensaje" placeholder="Mensaje"></textarea>
        
            <input type="submit" value="Enviar">
        </fieldset>
    </form>
</footer>