<header class="header">
    <div class="container">
        <div class="bar">
            <nav class="navbar">
                <div class="bar__logo">
                    <img src="../img/GC.webp" alt="logotipo" width="80">
                    <a routerLink="/principal" class="logo">
                        <h1>Nombre de la empresa</h1>
                    </a>
                </div>
                <ul class="menu">
                    <li><a routerLink="/principal">Inicio</a></li>
                    <li><a routerLink="/Quienes-Somos">¿Quiénes somos?</a></li>
                    <li><a routerLink="/proyectos">Proyectos</a></li>
                    <li><a routerLink="/contacto">Contacto</a></li>
                </ul>
            </nav>
            
        </div>
    </div>

</header>